---
import Layout from '../../layouts/Layout.astro';

export const data = {
  name: 'Countdown ⌛️',
};
---

<Layout title="Countdown">
    <main class="w-screen h-screen flex flex-col justify-center items-center">
        <h2 id="title" class="text-xl font-bold"></h2>
        <h3 id="display"></h3>
    </main>
</Layout>

<script lang="ts" is:inline>
  const {title, datetime} = getUrlParams({title: 'Event', datetime: ''});
  const titleElement = $('#title');
  const displayElement = $('#display');

  titleElement.innerText = title;

  const date = new Date(datetime);
  const interval = setInterval(() => {
    const now = new Date();
    const diff = Math.floor(Math.abs(date.getTime() - now.getTime()) / 1000);
    if (diff <= 0) clearInterval(interval);

    displayElement.innerText = handleDisplay(diff);
  }, 1000);

  function handleDisplay(diff) {
    const days = Math.floor(diff / 86400);
    const hours = Math.floor(diff / 3600) % 24;
    const minutes = Math.floor(diff / 60) % 60;
    const seconds = Math.floor(diff) % 60;

    const display = [];
    if (days > 0) display.push(`${days}d`);
    if (hours > 0) display.push(`${hours}h`);
    if (minutes > 0) display.push(`${minutes}m`);
    if (seconds > 0) display.push(`${seconds}s`);

    return display.join(' ');
  }
</script>